.imgResponsive{
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#logoCentered{
  position: absolute;
  top: 3%;
  left: 45%;
}

.centered {
  position: absolute;
  top: 30%;
  left: 10%;
  /*transform: translate(-50%, -50%);*/
}

.TopLeft {
  position: absolute;
  top: -2%;
  left: 10%;
}

#VolantDdeEssai{
  position: absolute;
  bottom: 0%;
  right: 10%;
}

.box {
  display: flex;
  justify-content: space-around;
}

.one {
  flex: 1 1 auto;
  width:45%;
  margin-left:5%;
  margin-right: 5%;
}

.two {
  flex: 1 1 auto;
}

.boxR {
  display: flex;
  width:100%;
  flex-direction: row;
  border-bottom: 1px solid black;*/
}

.oneR {
  flex: auto;
  width: 75%;
}

.twoR {
  flex: auto;
  width:25%;
}

.container4Pic {
  position: relative;
  text-align: left;
  color: white;
}

.box4Pict {
 display: flex;
 flex-flow: row wrap;
 height: 50%;
}

a{
  text-decoration: none;
}

h1 {
  display: block;
  text-align:left;
  color:White;
  font-family: 'Playfair Display', serif;
  font-size: 85px;
  font-weight: bold;
  line-height: 0.9em;
  z-index:2;
}

h2 {
  display: block;
  text-align:left;
  color:black;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 0.9em;
  z-index:2;
}

h3{
  display: block;
  text-align:left;
  color:White;
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-style:normal;
  z-index:2;
}

h4{
  display: block;
  text-align:left;
  color:black;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-style:normal;
  line-height: 1.2em;
  text-transform: uppercase;
  padding-right: 5%;
  z-index:2;
}

h5 {
  display: block;
  text-align:left;
  color:black;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.9em;
  z-index:2;
}

h6{
  display: block;
  text-align:left;
  color:black;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style:normal;
  line-height: 0.5em;
  z-index:3;
}

p {
  display: block;
  text-align:left;
  color:black;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-style:normal;
  line-height: 1em;
  z-index:3;
}

.footerTitre {
  display: block;
  text-align:left;
  color:White;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-style:Bold;
  line-height: 1em;
  z-index:3;
}

.footerDetail{
  display: block;
  text-align:left;
  color:White;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style:normal;
  line-height: 1em;
  z-index:3;
}

footer{
  background: #fff url("Images/Background-footer.png") no-repeat fixed top center;
  background-size: cover;
  height: 476px;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index:1;
}
